POSTGRES_DB=joomla
POSTGRES_USER=joomla_user
POSTGRES_PASSWORD=joomla_secure_password
JOOMLA_DB_HOST=database
JOOMLA_DB_USER=joomla_user
JOOMLA_DB_PASSWORD=joomla_secure_password
JOOMLA_DB_NAME=joomla
JOOMLA_DB_TYPE=pgsql
JOOMLA_SITE_NAME=Parcial_Redes
JOOMLA_ADMIN_USER=Administrador
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=Admin12345!@#
JOOMLA_ADMIN_EMAIL=admin@parcial.com
